# GROQ
GROQ_API_KEY=your_api_key

# Transcription (e.g. Groq Whisper)
TRANSCRIPTION_API_URL=https://api.groq.com/openai/v1/audio/transcriptions
TRANSCRIPTION_MODEL=whisper-large-v3-turbo

# LLM (e.g. llama-3.3-70b-versatile)
LLM_API_URL=https://api.groq.com/openai/v1/chat/completions
LLM_MODEL=llama-3.3-70b-versatile
LLM_SUMMARY_PROMPT=prompts/LLM_SUMMARY_PROMPT.txt
LLM_END_HTML_PROMPT=prompts/LLM_END_HTML_PROMPT.txt

# Proxys 
HTTP_PROXY=socks5://user:password@ip:socks_port
HTTPS_PROXY=socks5://user:password@ip:socks_port

# Volumes
INPUT_DIR=/app/shared-data/input
CHUNKS_DIR=/app/shared-data/chunks                     
STATUS_DIR=/app/shared-data/status
RESULTS_DIR=/app/shared-data/results

# Script settings
SUMMARY_CHUNK_SIZE=24000
